### Recommended Readings:
- Pandas : [User Guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)
- Concat, Merge and Join: [Documentation](https://pandas.pydata.org/docs/user_guide/merging.html)

Download the following dataset from kaggel: [Employee Salaries Analysis](https://www.kaggle.com/datasets/sahirmaharajj/employee-salaries-analysis)

Using pandas find the following:
1. The average salary of all employees
2. The Department with the highest average salary
3. The average salary of employees based on gender

In [6]:
# your code here

import pandas as pd

data = pd.read_csv('Employee_Salaries.csv')

data.head()

# 1. The average salary of all employees
average_salary = data['Base_Salary'].mean()
print(f"The average salary of employees is: ${average_salary:.2f}")

# 2. The Department with the highest average salary
average_salary_by_department = data.groupby('Department_Name')['Base_Salary'].mean()
department_highest_avg_salary = average_salary_by_department.idxmax()
highest_avg_salary = average_salary_by_department.max()
print(f"The department with the highest average salary is: {department_highest_avg_salary} >> with an average salary of: ${highest_avg_salary:.2f}")

# 3. The average salary of employees based on gender
average_salary_by_gender = data.groupby('Gender')['Base_Salary'].mean()
print("The average salary of employees based on gender:")
for gender, avg_salary in average_salary_by_gender.items():
    print(f"{gender}: ${avg_salary:.2f}")

The average salary of employees is: $90312.17
The department with the highest average salary is: Office of Intergovernmental Relations Department >> with an average salary of: $165196.75
The average salary of employees based on gender:
F: $87497.50
M: $92382.93

In [2]:
data.head()

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
0,ABS,Alcohol Beverage Services,ABS 85 Administration,M,175873.000,0.00,0.0,M2
1,ABS,Alcohol Beverage Services,ABS 85 Administration,M,145613.360,0.00,0.0,M3
2,ABS,Alcohol Beverage Services,ABS 85 Administration,F,136970.000,0.00,0.0,M3
3,ABS,Alcohol Beverage Services,ABS 85 Administrative Services,F,89432.694,0.00,2490.0,21
4,ABS,Alcohol Beverage Services,ABS 85 Administrative Services,F,78947.000,456.68,6257.7,16